.AnswerBox {
    /* Answer-box */
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background: #FFFFFF;
    height: 100px;
    /* height: fit-content; */
    padding: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
    /* border: 3px solid #6B7EB6; */
    border-radius: 7px;
}

.AnswerBox .HeadText {
    /* Major */
    /* position: absolute;
    left: 7.2%;
    right: 74.44%;
    top: 22.79%;
    bottom: 59.56%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #363636;
}

.AnswerBox .DetailText {
    /* position: absolute;
    left: 7.2%;
    right: 14.39%;
    top: 37.5%;
    bottom: 19.12%; */
    word-wrap: break-word;
    max-width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #363636;
}

.AnswerBox .Date {
    /* position: absolute;
    left: 77.17%;
    right: 4.47%;
    top: 13.97%;
    bottom: 68.38%; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #848484;
}


.AnswerBox .Comment {
    display: flex;
    justify-content: end;
    width: 100%;
    /* position: absolute;
    right: 0;
    bottom: 5px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #363636;
    padding-top: 15px;
}

.AnswerBox .Comment .CommuIcon {
    padding-right: 5px;
}

.AnswerBox .Comment .star{
    padding-left: 7px;
}