.keywordContainer {
    display: grid;
    grid-template-columns: 845px 100px;
    gap: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1000px;
    height: 65px;
    border-radius: 10px;
    padding-left: 55px;

}

.keywordContainer .keywordText {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #363636;
}

.keywordContainer .accContainer {
    align-self: center;
    text-align: center;
}

.keywordContainer .accContainer .accuracy {
    padding: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    background: #d81919;
    border-radius: 15px;
}

.keywordContainer.accContainer .accuracy .accText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #363636;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.keywordContainer .lastEditText {
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #363636;
}

.keywordContainer .editDelContainer{
    align-self: center;
    display: flex;
    gap: 10px;
}

.keywordContainer .editDelContainer .editIcon{
    color: rgb(12, 185, 243);
    font-size: x-large;
    cursor: pointer;
}

.keywordContainer .editDelContainer .delIcon{
    color: #d81919;
    font-size: x-large;
    cursor: pointer;
}

