.smallFiveStar {
    position: absolute;
    width: 77px;
    height: 13px;
    left: 308px;
    top: 97px;
}

.smallFiveStar .one {
    position: absolute;
    left: 0%;
    right: 83.12%;
    top: 0%;
    bottom: 0%;
}

.smallFiveStar .two {
    position: absolute;
    left: 20.78%;
    right: 62.34%;
    top: 0%;
    bottom: 0%;
}

.smallFiveStar .three {
    position: absolute;
    left: 41.56%;
    right: 41.56%;
    top: 0%;
    bottom: 0%;
}

.smallFiveStar .four {
    position: absolute;
    left: 62.34%;
    right: 20.78%;
    top: 0%;
    bottom: 0%;
}

.smallFiveStar .five {
    position: absolute;
    left: 83.12%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}